#getNumber {
    font-size: 32px;
    text-align: center;
}

.inputNumberBox{
    display: flex;
    justify-content: center;
}

#paragraph {
    margin-left: 20px;
    background-color: rgb(31, 31, 34);
    color: white;
    padding: 30px;
}

.header{
    background-color:;
    color: rgb(57, 57, 204);
    padding: 20px;
    text-align: center;
}

.instructions{
    background-color:;
    color: rgb(57, 57, 204);
    padding: 20px;
    text-align: center;
}

.everything{
    background-color: ;

}
